@tailwind base;
@tailwind components;
/* 
body {
  @apply w-full;
} */

#__next {
  @apply flex flex-col min-h-screen text-gray-600 leading-normal text-base tracking-normal;
}

@tailwind utilities;

@font-face {
  font-family: "HelveticaNeue";
  src: url("../public/fonts/helvetica-neue/HelveticaNeueLT-Roman.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  descent-override: 0%;
}

html {
  font-family: 'HelveticaNeue';
  color: theme('colors.gray.900');
}
/*
 Fonts licence:
 HelveticaNeue:
 http://fonts3.com/fonts/h/HelveticaNeueLTPro-Ex.html
*/


